<!DOCTYPE html>
<html>
  <head>
    <title>RealtimeSearchEngine</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <nav class="flex justify-between items-center bg-blue-500 p-4 text-white">
  <div>
    <a href="<%= searches_path %>" class="mr-4 hover:text-gray-100">Searches</a>
    <a href="<%= articles_path %>" class="hover:text-gray-100">Articles</a>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
